body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

#searchInput {
    padding: 5px;
    margin: 10px 0;
}

#searchResults {
    list-style-type: none;
    padding: 0;
}

#searchResults li {
    margin: 5px;
    cursor: pointer;
}

#searchResults li:hover {
    background-color: #f0f0f0;
}
